body {
  margin: 0;
  padding: 0;
}


/* Background */

.dark-background {
  height: 30vh;
  background-color: #c2c2c2;
  padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

.light-background {
  height: 70vh;
  background-color: #fff;
  padding: 2.5vh 2.5vw 2.5vh 2.5vw;
}

.padding-zero {
  padding: 0;
  margin: 0;
}


/* Black Square*/

.black-square {
  height: 10vh;
  width: 95vw;
  background-color: black;
  color: #fff;
  font-size: 3vh;
  line-height: 10vh;
  border-radius: 3vh;
  text-align: center;
}


/* Logo */

#logo {
  height: auto;
  width: 95vw;
  position: absolute;
  z-index: 1;
  margin-top: 9vh;
}


/* Content*/

h1 {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

#line-orange {
  border-color: #F26539;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

#text {
  font-size: 2.75vh;
}

.form-control {
  border-color: #F26539;
}

.form-control:focus {
  border-color: #F26539;
  box-shadow: none;
}

.button-send {
  color: #fff;
  background-color: #F26539;
  border-color: #F26539;
  float: right;
  width: 45vw;
}

.button-send:hover {
  color: #fff;
}

.form-group {
  margin-bottom: 2vh;
}

.form-wrapper {
  position: absolute;
  bottom: 2.5vh;
  width: 95vw;
}